---
import Link from '@/components/Link.astro'
import Image from 'astro/components/Image.astro'
import type { CollectionEntry } from 'astro:content'

type Props = {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props
---

<div
  class="not-prose rounded-md border p-4 transition-colors duration-300 ease-in-out hover:bg-secondary/30"
>
  <Link
    href={project.data.link}
    class="block"
    external
    class="group flex flex-col gap-4 sm:flex-row"
  >
    {
      project.data.image && (
        <div class="w-full sm:max-w-[200px] sm:flex-shrink-0">
          <Image
            src={project.data.image}
            alt={project.data.name}
            width={1200}
            height={630}
            class="rounded-sm object-cover grayscale transition-all group-hover:grayscale-0"
          />
        </div>
      )
    }
    <div class="flex-grow">
      <h3 class="mb-1 text-lg font-semibold">
        {project.data.name}
      </h3>
      <p class="mb-2 text-sm text-muted-foreground">
        {project.data.description}
      </p>
    </div>
  </Link>
</div>
